body{ background-color: black; color: white; text-align: center;}
h1 {font-style: oblique; color: gray;}
ul {text-align: left;}
h3 {color: gray; }
a {color: gray; }

.experience p { text-align: left;color: white;}
